# Virtuoso files /data/db
/data/db/clean-logs.sh
/data/db/*.log
/data/db/virtuoso-temp.db
/data/db/virtuoso.db
/data/db/virtuoso.ini
/data/db/virtuoso.lck
/data/db/virtuoso.log
/data/db/virtuoso.pxa
/data/db/virtuoso.trx
/data/db/.dba_pwd_set
credentials
/frontend/public
/frontend/dist/
/frontend/tmp/

/frontend/bower_components/
/frontend/node_modules/

/frontend/.env*
/frontend/.pnp*
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/testem.log
/frontend/yarn-error.log

/frontend/.node_modules.ember-try/
/frontend/bower.json.ember-try
/frontend/package.json.ember-try

